// Place all the styles related to the callbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fitness {
  background-image: url('/fitness.png');
  background-size: 100% 100%;
}
.education {
  background-image: url('/education.png');
  background-size: 100% 100%;
}

.food {
  background-image: url('/food.png');
  background-size: 100% 100%;
}

.travel {
  background-image: url('/travel.png');
  background-size: 100% 100%;
}

.misc {
  background-image: url('/misc.png');
  background-size: 100% 100%;
}

.technology {
  background-image: url('/technology.png');
  background-size: 100% 100%;

}
